<mat-card>

	<mat-card-header>
		<h3>{{ title }}</h3>
	</mat-card-header>

	<mat-card-content>
		<p>You can provide any additional notes here. For example it can be something like: I`m a vegetarian and I would prefer to have a vegetarian meal during official speakers dinner. Or it can be: I will travel with my spouse, please book me a room with king bad. Or any other stuff you can imagine. We, as an organizers team, will try to do our best to make your experience as much positive as possible.</p>

		<mat-form-field class="full-width">
			<textarea matInput
					  cdkTextareaAutosize
					  #autosize="cdkTextareaAutosize"
					  cdkAutosizeMinRows="2"
					  cdkAutosizeMaxRows="5"
					  [(ngModel)]="speakerNotes.notes"
					  placeholder="Notes"></textarea>
		</mat-form-field>
	</mat-card-content>

</mat-card>
